.nav {
  width: 100%;
  display: flex;
  padding-top: 5px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: purple;
  font-weight: 600;
}

.authLink {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  transition: color 0.2s ease-in-out;
}

.authLink + .authLink {
  padding: 15px;
}

.authLink:hover {
  color: #ebbb0b;
}

.nav-logoutbtn {
  width: 90px;
  height: 50px;
  font-family: inherit;
  font-size: 1.3em;
  font-weight: 600;
  padding: 0.5em 1em;
  margin-left: 15px;
  background-color: #ebbb0b;
  border: none;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

.nav-logoutbtn:hover {
  transform: scale(1.05);
  background-color: #d13e3e;
}

.logo{
  height: 80px;
  border-radius: 50%;
}

.profile{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding-left: 7px;
}
