.badgeCard {
    padding: 10px;
}

.badgeCardInfo {
    height: 260px;
}

.badgeCardInfo,
.badgeCardBankInfo {
    width: 200px;
    color: white;
    background-color: purple;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
}

.imgBadge {
    height: 100px;
    max-width: 110px;
}

.changeBadgeBtn {
    height: 30px;
    font-size: 1.3em;
    color: white;
    text-decoration: none;
    width: 150px;
    background-color: #ebbb0b;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.changeBadgeBtn:hover {
    transform: scale(1.05);
    background-color: rgb(140, 200, 30);
}

.badgeCardBankInfo {
    height: 270px;
}